<div onclick="return expandError();" title="Message complet" style="cursor:pointer;align:center">
    <span id="msgError" style="align: center">
        <img id="plus" alt="+" src="/mroad/web/bundles/framework/images/blue_picto_more.gif" style="display:inline;" />
        <img id="moins" alt="-" src="/mroad/web/bundles/framework/images/blue_picto_less.gif" style="display:none;" />
        {{msg|raw}}
    </span><br/><br/>
    <div id="msgCompleteError" style="display:none">{{msg_complet}}</div>
</div>
