{% block modalCss %}
    <style>
        .modal-dialog {
            width: 800px; 
            height: 500px;
            margin: 100px auto;

        }
    </style>
{% endblock %}

<div class="ams-modal modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="amsModalLabel">{% block modalTitre %}Chargement en cours...{% endblock %}</h4>
        </div>    
        <div class="modal-body" id="amsModalBody">
            {% block modalContenu %}
                <div id="modalAlerte"></div>
                <img src="{{ asset('images/ajaxLoader.gif')}}"/>
            {% endblock %}
        </div>
    </div>
</div>