{% extends '::modal.html.twig' %}
{% block modalCss %}
<style>
        .modal-dialog {
        width: 1000px; 
        height: 100px;
        margin: 100px auto;
    }
    
  #listeGeocode {
    overflow: scroll;
    height: 200px;
}
</style>
{% endblock %}
{% block modalTitre %}
    <h4> Gestion des profils</h4>
{% endblock %}
{% block modalContenu %}
<div class="well">
    {% if enregistrement_ok is defined %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">{{ flashMessage }}</div>
        {% endfor %}  
    {% else %}
        <form method="post"  id="formProfil" action="{{formAction}}" >    
             {{ form_widget(form) }}  
          <table>
                <tr>
                    <td > <input type="submit" value="Valider" class="btn btn-primary" /></td>
                 </tr>
            </table>
        </form>
        <div  id="inputForm"> </div>   
    {%endif %}  
</div>
    <script type="text/javascript">
	
               $(document).ready(function() {
                    $('#formProfil').submit(function(e) {
                        e.preventDefault();
                        $('#inputForm').html("<img src='{{ asset('images/ajaxLoader.gif')}}'/>");
                        $.ajax({
                          url: $(this).attr('action'),
                          type: $(this).attr('method'),
                          data: $(this).serialize(),
                          cache: false,
                          success: function(data) {
                                $('#amsModal').html(data);
                                //$('#modalAlerte').html(data.alert);
                              
                          },
                          error: function(data) {
                               alert("An unexpeded error occured. Please reload the page or contact the administrator if this error persists");
                          },
                        });
                        return false; //
                    });
                 });
 
            </script>       
   
{% endblock %}
