{% extends 'AmsPaieBundle:DhtmlxGrid:liste.html.twig' %}
{% block cmd %}
    <span  style="float:center;"><input type="button" value="Rafraichir" id="button_rafraichir"/></span>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>    
    dhtmlxInit=[
//ENTETE            ,HEADER1                    ,HEADER2            ,VERIFICATOR        ,BEFOREINSERT           ,AFTERINSERT            ,ONSELECT          ,ONCHANGE
['date_log'         ,'#text_filter'             ,null               ,null               ,null               ,null               ,null              ,null],
['level'            ,'#numeric_filter'          ,null               ,null               ,null               ,null               ,null              ,null],
['module'           ,'#text_filter'             ,null               ,null               ,null               ,null               ,null              ,null],
['msg'              ,'#text_filter'             ,null               ,null               ,null               ,null               ,null              ,null],
['count'            ,'#numeric_filter'          ,null               ,null               ,null               ,null               ,null              ,null],
    ];

    function onLoadGrid(){
        grid = new dhtmlXGridObject('gridbox');
        initGrid("{{dhtmlx_img}}", "{{path('grid'~route)|raw}}","");
    }

    $(document).ready(function() {
        $('#form_filtre_anneemois_id').on('change', function() {
            ajaxReloadCombo($('#form_filtre_idtrt'),"ajax-combo-pai-int-traitement",{anneemois_id:$('#form_filtre_anneemois_id').val()});
        });
        $('#button_rafraichir').on('click', function() {
                    onLoadGrid();
        });
    });
    </script>
{% endblock %}