{% extends '::dhtmlx_grid.html.twig' %}
{% block title %}Gestion des infos bulles{% endblock %}

{% block body %}

    <style>
      div#contenu DIV.bloc TD.content TD {font-size: 11px; padding: 3px;background-image:none}
      .nyroModal{cursor:pointer;display:none}
      .newColumn{background-color:#DFF0D8 !important}
      .delete{cursor:pointer}
    </style>
    <div class="bloc">
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td rowspan="{% if app.session.flashbag.has('notice')==true %}3{% else %}2{% endif %}" class="border"><img src="{{ asset('images/trans.png') }}" width="10" height="1"></td>
          <td class="title">
            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td class="full title">Liste des infos bulles </td>
                <td class="link" nowrap="nowrap">
                  <span class="nyroModal" data-target="#amsModal"> Ajouter un message </span>      
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
        <td class="content">
            <div id="gridbox"  style="width:100%; height:500px; background-color:white;overflow:hidden"></div>
            <div id="cover" style='width:500px; font-size:20pt; text-align:center; font-family:Tahoma; position:absolute; top:50px; left:100px; height:150px; widht:500px; background-color:silver; opacity:0.3; -moz-opacity:0.3; filter:alpha(opacity=30);'>
                    Chargement ...
             </div>
        </td>
        </tr>
      </table>
    </div>
    <script>
      grid = new dhtmlXGridObject('gridbox');
      grid.setImagePath("{{dhtmlx_img }}");
      grid.enableMultiselect(true);
      grid.init();
      grid.attachEvent("onXLS", function() {
        document.getElementById('cover').style.display = 'block';
      });
	
      grid.attachEvent("onXLE", function() {
	document.getElementById('cover').style.display = 'none';
      });
      
      grid.attachEvent("onRowSelect",function(rowId,columnIndex){
        if(columnIndex == 4){
          $('#amsModal').modal('show');
          $('#amsModal #amsModalLabel').html("Suppression de l'imprimante");
          $('#amsModal .modal-body').html('Etes-vous sur de vouloir supprimer ce message? <br />\n\
                                          <div class="btn btn-xs btn-info btn-annuler"> Annuler </div> \n\
                                          <div id="'+rowId+'" style="width:50px" class="btn btn-xs btn-danger"> Oui </div>\n\
                                         ');
        }
      });

      grid.setSkin("dhx_skyblue");
      grid.enableSmartRendering(true);
    
      /** Pagination */
      grid.setPagingSkin("toolbar", "dhx_skyblue");
 
      /** INSERT VIEW XML FORMAT **/
      grid.loadXML("{{path('admin_message_grid')}}");
      myDataProcessor = new dataProcessor("{{path('admin_message_crud')}}");
      myDataProcessor.init(grid);
    </script>



{% endblock %}