{% extends '::modal.html.twig' %}
    {% block modalTitre %}
        Erreur!
    {% endblock %}
    {% block modalContenu %}
        
            <div class="well">
                <div id="modalAlerte">
                </div>
                Vous n'avez pas accès à cette fonctionnalité!
            </div> 
        
             
    {% endblock %}